<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
    <add key="Intermediate Package Feed" value="https://www.myget.org/F/b6137352044247fab8c54cecf7132606/" />
  </packageSources>
</configuration>