<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--
      Optional remote package repository to mirror packages from.
    -->
    <add key="NuGet.Lucene.Web:packageMirrorTargetUrl" value="" />
    <!--
      Determines if an Api Key is required to push/delete packages from the server.
    -->
    <add key="NuGet.Lucene.Web:allowAnonymousPackageChanges" value="true" />
    <!--
      Determines if requests on a local address (::1, 127.0.0.1) are automatically
      granted adminstrative roles. Enabling this flag allows a local user to create
      accounts on a freshly installed system where there is not already an admin account.
    -->
    <add key="NuGet.Lucene.Web:handleLocalRequestsAsAdmin" value="false" />
    <!--
      When true, Access-Control-Allow-Origin and related headers will be added to
      requests handled by Web Api allowing web applications to invoke Api methods
      and access content in the response.
    -->
    <add key="NuGet.Lucene.Web:EnableCrossDomainRequests" value="true" />
    <!--
      Change the path to the packages folder. Default is ~/App_Data/Packages.
      This can be a virtual or physical path.
    -->
    <add key="NuGet.Lucene.Web:PackagesPath" value="" />
    <!--
      Change the path to where the lucene index is stored. Default is ~/App_Data/Lucene.

      For best performance, the index should be stored on a local disk outside
      of the document root. Storing the index outside of IIS prevents asp.net from
      being sent file change notifications whenever the index is modified.

      This can be a virtual or physical path.
    -->
    <add key="NuGet.Lucene.Web:LucenePath" value="" />
    <!--
      When true, enables a FileSystemWatcher that monitors the packagesPath
      and automatically updates the Lucene index when packages are created,
      modified, renamed or deleted.
    -->
    <add key="NuGet.Lucene.Web:EnablePackageFileWatcher" value="false" />
    <!--
      When true, scans the packagesPath and compares nupkg files with
      the Lucene index and updates the Lucene index to match the file
      system. This setting enables the Lucene index to be kept in sync
      when package files change while this web app isn't running.
    -->
    <add key="NuGet.Lucene.Web:SynchronizeOnStart" value="false" />
    <!--
      When true, packages that are pushed will be stored in subdirectories
      such as ${packagesPath}\${packageId}\${packageId}.{packageVersion}.nupkg,
      and when false, all packages will be stored in the top level packagesPath
      directory.
    -->
    <add key="NuGet.Lucene.Web:GroupPackageFilesById" value="true" />
    <!--
      Controls whether or not to show stack trace information and other details
      to clients when unhandled exceptions occur. Enabling this flag may
      disclose potentially sensitive information to clients.
    -->
    <add key="NuGet.Lucene.Web:ShowExceptionDetails" value="false" />
    <add key="RouteDebugger:Enabled" value="false" /></appSettings>
  <system.web>
    <authentication mode="None" />
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5" maxRequestLength="2147483647" />
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
    
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648" maxQueryString="524288" />
      </requestFiltering>
    </security>
    <rewrite>
      <rules>
        <rule name="Add trailing slash for some URLs" stopProcessing="true">
            <match url="^((.*)(\.(\d)+)+($|\-\w*$))" />
            <conditions>
                <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Redirect" url="{R:0}/" />
        </rule>
      </rules>
    </rewrite>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Remotion.Linq" publicKeyToken="fee00910d6e5f53b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.15.9.0" newVersion="1.15.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
    <dependentAssembly><assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" /><bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" /></dependentAssembly><dependentAssembly><assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" /><bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" /></dependentAssembly><dependentAssembly><assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" /><bindingRedirect oldVersion="1.0.0.0-5.1.0.0" newVersion="5.1.0.0" /></dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>