<div class="alert alert-danger alert-dismissable" style="margin-top: 30px;" ng-show="model.errorMessage != undefined">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Error!</strong>
    <br />
    {{ model.errorMessage }}
</div>

<div class="container" ng-show="model.repositoryRows.length > 0 && !model.isAjaxInProgress">
    <div class="row" ng-repeat="row in model.repositoryRows">
        <div class="col-md-3" ng-repeat="repository in row">
            <div ng-show="!repository.isNew">
                <h3><i class="fa fa-archive fa-align-left"></i> <span>{{ repository.Name }}</span></h3>
                <p>
                    <span>{{ repository.Description }}</span>
                </p>
            </div>
            <div ng-show="repository.isNew">
                <h3 class="form-group" ng-class="{'has-error': repository.errorName.length > 0}">
                    <input class="form-control" type="text" ng-model="repository.Name" id="name" placeholder="Repository name" />
                    <label for="name" class="help-block" ng-show="repository.errorName.length > 0"> {{ repository.errorName }} </label>
                </h3>
                <p class="form-group" ng-class="{'has-error': repository.errorDescription.length }">
                    <textarea class=" form-control" ng-model="repository.Description" id="description" placeholder="Description" rows="11">
                        {{ repository.Description }}
                    </textarea>
                    <label for="description" class="help-block" ng-show="repository.errorDescription.length > 0"> {{ repository.errorDescription }} </label>
                </p>
                <p>
                    <button class="btn btn-default" ng-click="save(repository);">Save</button>
                </p>
            </div>
        </div>
    </div>
</div>
