<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="seleniumBaseUrl" value="http://nuserv-test.azurewebsites.net" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
    <autofac>
      <components xdt:Transform="Replace">
        <component name="AGrade"
                type="Baseclass.Contrib.SpecFlow.Selenium.NUnit.SauceLabsWebDriver, Baseclass.Contrib.SpecFlow.Selenium.NUnit.SpecFlowPlugin"
                service="OpenQA.Selenium.IWebDriver, WebDriver"
                instance-scope="per-dependency">
             <parameters>
               <parameter name="url" value="http://ondemand.saucelabs.com:80/wd/hub" />
               <parameter name="browser" value="InternetExplorer" />
               <parameter name="userName" value="nuserv" />
               <parameter name="accessKey" value="{ACCESSKEY}" />
               <parameter name="capabilities" >
                 <dictionary>
                   <item key="version" value="10" />
                   <item key="platform" value="Windows 8" />
                 </dictionary>
               </parameter>
             </parameters>
        </component>
      </components>
    </autofac>
</configuration>