@{
    ViewBag.Title = "nuserv repositories";
    ViewBag.App = "repositoryApp";
}

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    <script src="/app/app.js" type="text/javascript" ></script>
    <script src="/app/repository/repositories.js" type="text/javascript"></script>
}

<div class="jumbotron">
    <h1>repositories</h1>
    <p>manage repositories</p>
</div>

<div class="container" ng-view>
</div>
